<h1>HI</h1>
<hr/>

<button onclick="location.href = '/list';" id="myButton" class="float-left submit-button" >List</button>
<button onclick="location.href = '/list/new';" id="myButton" class="float-left submit-button">Song</button>
</form>

