<h1>Post a new Song</h1>
<hr/>

<form action="/list" method="POST">
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>Song:</label>
    <input type="text" name="song">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url">
 </div>
 <div>
   <input type="submit" value="Submit">
 </div>
</form>